# API
VITE_API_BASE_URL=https://api.example.com

# i18n
VITE_I18N_DEFAULT_LOCALE=en
VITE_I18N_FALLBACK_LOCALE=en

# port 
VITE_WEB_CANDIDATE_PORT=3000
VITE_WEB_RECRUITER_PORT=3001
VITE_WEB_ADMIN_PORT=3002
VITE_DOMAIN_URL=http://localhost:8000